.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  padding: 1rem;
  background-color: #333;
  border-radius: 0.3rem;
  outline: none;

  .modal-content {
    position: relative;
    display: flex;
    gap: 2rem;

    .modal-poster-area {
      >img {
        width: 100%;
      }
    }

    .modal-content-area {
      >button {
        position: absolute;
        top: -30px;
        right: -30px;
        padding: initial;
        width: 45px;
        height: 45px;
        background-color: transparent;

        &:hover {
          transform: scale(130%);
          transition: transform .2s ease-in-out;
        }

        &:active {
          transform: scale(100%);
        }
      }
      h1 {
        font-size: 2rem;
        margin-bottom: 3rem;
      }
      p {
        font-size: 1.3rem;
        line-height: 2.5rem;
        margin-bottom: 2rem;
      }

      span {
        font-size: 1.2rem;
        display: block;

        & + span {
          margin-top: 1rem;
        }
      }
    }
  }
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.container {
  max-width: 52.5rem;
  width: 100%;

  margin: 0 auto;
}

header {
  span.category {
    display: block;
    margin-top: 2rem;

    font-size: 2.25rem;
    font-weight: 600;
    color: var(--gray);
  }

  span {
    color: var(--white);
  }
}

main {
  width: 100%;
  margin-top: 5.625rem;

  .movies-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4.75rem;
    list-style: none;
  }
}